<footer class="footer">
  <small>
    <%= t(".para") %> <a href="http://www.railstutorial.org/"><%= t(".link_rail_tutorial") %></a>
    <%= t(".para_by") %> <a href="http://www.michaelhartl.com/"><%= t(".link_author_rails") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link_about"),   about_path %></li>
      <li><%= link_to t(".link_contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".link_new_rails" %></a></li>
    </ul>
  </nav>
</footer>
