<h1><%= t "users.reset_password.mailer.header" %></h1>

<p><%= t "users.reset_password.mailer.plaese_click_link" %></p>

<%= link_to t("users.reset_password.mailer.reset_link"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t "users.reset_password.mailer.content_para" %></p>

<p><%= t "users.reset_password.mailer.content_para2" %></p>
